{% extends 'layout.html' %}

{% block title %}
Formularios con Django
{% endblock %}

{% block content %}
<h1 class="title">Formularios con Django</h1>
<form action="{% url 'save' %}" method="POST">
    {% csrf_token %} {% comment "TOKEN"%} token necesario para enviar datos por POST {% endcomment %}

    <label for="name">Título</label>
    <input type="text" name="title" placeholder="Ingrese el tiltulo">

    <label for="content">Contenido</label>
    <textarea name="content"></textarea>

    <label for="public">¿Publicado?</label>
    <select name="public" >
        <option value="1">Si</option>
        <option value="0">No</option>
    </select>

    <input type="submit" value="Guardar">
</form>
{% endblock %}