<ul>
    {% for coche in coches %}
        <article class="article-item">
            <div class="data">
                <h2>
                    <a href="{{ url_for('coche', id=coche.0) }}">
                        {{coche.2}}
                    </a>
                </h2>

                <span class="date">
                    {{coche.1}}
                    |
                    {{coche.3}}
                </span>

                <p>
                    {{coche.4}}
                </p>

                <p>
                    <a href="{{ url_for('editar_coche', id=coche.0) }}" class="btn btn-warning">Editar</a>
                    <a href="{{ url_for('borrar_coche', id=coche.0) }}" class="btn">Eliminar</a>
                </p>
            </div>
            <div class="clear-fix"></div>
        </article>
    {% endfor %}
</ul>